<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd">

    <!--spring 普通消息集成 -->
    <bean id="messageListener" class="com.javens.listener.ConsumerMessageListener"></bean>
    <bean id="consumer" class="com.aliyun.openservices.ons.api.bean.ConsumerBean"
          init-method="start" destroy-method="shutdown">
        <property name="properties">
            <props>
                <prop key="ConsumerId">CID-RZJF-BANK-BEIJING2-LOG-TOPIC</prop>
                <prop key="AccessKey">*****</prop>
                <prop key="SecretKey">*****</prop>
            </props>
        </property>
        <property name="subscriptionTable">
            <map>
                <entry value-ref="messageListener">
                    <key>
                        <bean class="com.aliyun.openservices.ons.api.bean.Subscription">
                            <property name="topic"  value="RZJF-BANK-BEIJING2-LOG-TOPIC"></property>
                            <!--expression 即 Tag，可以设置成具体的 Tag，如 taga||tagb||tagc，也可设置成*。 *仅代表订阅所有 Tag，不支持通配-->
                            <property name="expression" value="1234" ></property>
                        </bean>
                    </key>
                </entry>
            </map>
        </property>
    </bean>
</beans>
